//------------- HEADER ---------------//

.header {
  background-size: cover;
  background-position: top;

  &__content {
    max-width: 140rem;
    margin: 0 auto;
    height: 70rem;
    position: relative;

    color: $white;
    line-height: 2.6rem;
  }

  &__banner {
    height: 6rem;
    background-color: rgba($green, 0.7);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: $font-family-sans;
    font-size: 2rem;
    color: rgba($white, 0.7);

    a {
      text-decoration: underline;
    }
  }

  &__main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 7.7rem;
  }

  &__links {
    font-family: $font-family-serif;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  &__button a {
    height: 6rem;
    width: 20rem;
    margin-right: 4rem;

    color: $white;
    background-color: $green;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__link a {
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 3px;
    text-decoration-color: $green;
  }

  @include respond(phone) {
    min-height: 84rem;
    &__links {
      display: block;
      font-size: 2.7rem;
    }

    &__button a {
      width: 29rem;
      height: 8.3rem;
      margin-bottom: 4rem;
    }
  }
}

//------------- SERVICES ---------------//

.services {
  &__slider {
    height: 38rem;
    margin: 10rem 0 10rem 7.7rem;
    gap: 4rem;

    & li:first-of-type {
      flex: 0 0 65.5rem;

      & .services__link {
        display: inline-block;
        background-color: $green;
        color: $white !important;
        padding: 1rem 1.5rem;
        margin-top: 2rem;

        & svg path {
          fill: $white !important;
        }
      }
    }

    & li:last-of-type {
      background-color: $white;
      color: $green;
      flex: 0 0 14.6rem;
      margin-right: 7.7rem;
      font-size: 2rem;

      & svg path {
        fill: $green;
      }
    }
  }

  &__slider li {
    flex: 1 0 38rem;

    display: flex;
    align-items: center;

    scroll-snap-align: center;

    h4 {
      line-height: 4.4rem;
    }
  }

  &__title {
    display: block;
    margin-bottom: 3.2rem;
    margin-top: 1.2rem;

    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
  }

  &__date {
    text-transform: uppercase;
    letter-spacing: 0.06rem;
  }

  & p {
    margin-bottom: 2.2rem;
  }

  &__link {
    font-size: 2rem;
  }

  @include respond(phone) {
    &__slider {
      display: block;
      height: 100rem;
      margin: 4rem;
      overflow: hidden;

      & li {
        display: none;
      }

      & li:first-of-type {
        display: flex;
        flex-direction: column;

        article {
          // width: 38rem;
          padding-top: 4rem;
          padding-bottom: 4.5rem;
        }

        .services__title {
          text-underline-offset: 2rem;
        }

        .services__link {
          padding: 2rem;
          border-radius: 3px;

          svg {
            margin-left: 1rem;
          }
        }
      }

      & li:last-of-type {
        display: block;
        font-size: 4rem;
        color: $grey;
        margin: 10rem;
        text-align: center;

        & svg {
          margin-left: 1rem;
          path {
            fill: $grey;
          }
        }
      }
    }
    &__title {
      font-size: 4rem;
      padding-top: 2rem;
    }

    &__date {
      font-size: 2.7rem;
      padding-top: 2rem;
    }

    & p {
      font-size: 2.4rem;
      line-height: 3rem;
      padding-top: 2rem;
    }

    &__link {
      font-size: 2.7rem;
    }
  }
}

.current-service-img {
  flex: 1 0 27.5rem;
  height: 100%;
  background-size: cover;
  background-position: center;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  @include respond(phone) {
    width: 100%;
  }
}

//------------- SPOTLIGHT ---------------//

.spotlight {
  background-size: cover;
  background-position: top;

  min-height: 50rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2rem solid $green;

  &__banner {
    margin: 0 8rem 0 8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;

    h1,
    h2,
    h3,
    h4 {
      color: $white;
      font-size: 5rem;
      line-height: 6.2rem;
      padding: 4rem;
      text-align: center;
    }

    p {
      color: $white;
      font-size: 2.4rem;
      line-height: 3rem;
      text-align: center;
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .wp-block-button__link {
      font-size: 2rem;
      margin-top: 5rem;
      margin-bottom: 5rem;

      height: 6rem;
      width: 20rem;

      color: $white;
      background-color: $green;
      border-radius: 3px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include respond(phone) {
    min-height: 66rem;
    &__banner {
      margin: 0;
      padding: 5rem 2rem;

      p {
        font-size: 3rem;
        line-height: 3.6rem;
        font-family: $font-family-sans;
        padding: 0;
      }
    }

    .wp-block-button__link {
      width: 29rem;
      height: 8.3rem;
      font-size: 2.7rem;
    }
  }
}

//------------- EVENTS ---------------//

.events {
  position: relative;
  margin-bottom: 20rem;

  &__content {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
  }

  &__slider {
    max-width: 100%;
    margin: 10rem 7.7rem 5rem 7.7rem;

    align-items: center;
    gap: 3.8rem;
  }

  &__slider li {
    flex: 1 0 40.3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    background-color: $very-light-grey;

    margin-bottom: 3rem;

    scroll-snap-align: start;

    & h4 {
      margin-bottom: 1.2rem;
    }
  }

  &__title {
    display: block;
    font-size: 2.3rem;
    line-height: 2.8rem;
    margin-bottom: 3px;
    margin-top: 2.9rem;
  }

  &__date {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
  }

  &__image {
    height: 21.8rem;
    width: 40.3rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  & p {
    margin-bottom: 1.4rem;
    max-width: 32rem;
    min-height: 8.5rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    background-color: $light-grey;
    color: $white;
    font-size: 1.6rem;
    line-height: 2rem;

    &:hover {
      background-color: $grey;
    }

    & svg {
      padding-left: 0.6rem;

      & path {
        fill: $white;
      }
    }
  }

  &__button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    line-height: 2.5rem;
    width: 25rem;
  }

  @include respond(phone) {
    margin-bottom: 30rem;

    button {
      display: none;
    }

    &__content {
      margin-bottom: 10rem;
    }

    &__slider {
      margin: 0 4rem;
    }

    &__image {
      width: 100%;
      height: 26rem;
    }
    &__slider li {
      flex: 1 0 100%;

      article {
        a {
          font-size: 3.4rem;
          margin-bottom: 2.7rem;
        }

        span {
          font-size: 2rem;
        }

        h4 {
          margin-bottom: 2.7rem;
        }

        p {
          font-size: 2rem;
          line-height: 2.6rem;
          max-width: 100%;
          margin-bottom: 2.7rem;
        }
      }
    }

    &__link {
      font-size: 2.7rem;
      height: 8rem;
    }

    &__button {
      font-size: 3.4rem;
      height: 10rem;
      width: 42rem;
      border-radius: 4px;
    }
  }
}

//------------- INFO ---------------//

.info {
  background-color: $beige;
  padding-top: 10rem;
  padding-bottom: 10rem;

  &__content {
    margin: 0 7.7rem 0 7.7rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }

  & h2 {
    font-size: 4.5rem;
    line-height: 5.6rem;
    margin-bottom: 3rem;
  }

  & p {
    font-size: 2rem;
    font-family: $font-family-sans;
    margin-bottom: 4.8rem;
    max-width: 45rem;
  }

  &__block {
    display: flex;
    align-items: center !important;
    // flex: 0 1 auto;
    max-width: 106rem;
    gap: 6.4rem;
  }

  &__button a {
    height: 6rem;
    width: 20rem;

    font-family: $font-family-serif;
    color: $white;
    background-color: $green;
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 100%;
    // height: 45rem;
  }

  @include respond(tablet) {
    .info__content {
      margin: 0 3.8rem 0 3.8rem;
    }

    .info__block {
      flex-direction: column;
      margin: 0;

      &:nth-child(odd) {
        flex-direction: column-reverse;
      }

      // & :first-child {
      //   margin-right: 0;
      // }
    }

    .wp-block-column {
      margin: 0 3rem 0 3rem;
    }

    &__img {
      width: 100%;
      height: 40%;
    }

    h3 {
      font-size: 5.8rem;
      line-height: 7rem;
      margin-top: 3.6rem;
    }

    p {
      font-size: 3rem;
      line-height: 4rem;
      max-width: 100%;
    }

    &__link {
      font-size: 2.7rem;
    }

    &__button a {
      width: 29rem;
      height: 8.3rem;
      font-size: 2.6rem;
      font-family: $font-family-serif;
    }
  }
}
